@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


@font-face {
  font-family: "Stratum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/stratum2-regular.woff2) format("woff2");
}

@font-face {
  font-family: "Stratum";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/stratum2-medium.woff2) format("woff2");
}

@font-face {
  font-family: "Stratum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/stratum2-bold.woff2) format("woff2");
}

body {
  color: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 9%);
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
.card-title {
  /* font-family: 'IBM Plex Sans', sans-serif; */
  letter-spacing: -0.004em;
  font-weight: 700;
}

.navbar-brand,
.index-title {
  font-family: 'Stratum', 'IBM Plex Sans', sans-serif;
}

.container {
  margin-top: 6em;
}

.bg-dark {
  background-color: hsl(0, 0%, 9%) !important;
}

.navbar {
  border-bottom: 1px solid hsl(0, 0%, 25%) !important;
}

.navbar .nav-link.router-link-active.router-link-exact-active {
  color: hsl(30, 100%, 50%);
  transition: all 0.2s ease-in-out;
}

.navbar .nav-link.router-link-active.router-link-exact-active:hover,
.navbar .nav-link.nuxt-link-exact-active:focus {
  color: hsl(30, 100%, 65%);
}

.dropdown-item.router-link-exact-active {
  background-color: hsl(30, 100%, 50%);
  transition: all 0.2s ease-in-out;
}

.dropdown-item.router-link-exact-active:hover,
.dropdown-item.router-link-exact-active:focus {
  background-color: hsl(30, 100%, 50%);
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  transition: all 0.2s ease-in-out;
}

.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler[aria-expanded="true"] {
  color: hsl(30, 100%, 50%);
}

.navbar-toggler:active {
  color: hsl(30, 100%, 60%);
}

.card {
  aspect-ratio: 16 / 9 !important;
  background-color: hsl(0, 0%, 9%);
  border: 1px solid hsl(0, 0%, 25%);
  border-radius: 0%;
}

.card-img {
  border-radius: 0%;
}

.badge.bg-primary {
  background-color: hsl(30, 100%, 50%) !important;
}

.dropdown-menu {
  background-color: hsl(0, 0%, 12%);
}

.dropdown-item {
  color: hsl(0, 0%, 90%);
}

.dropdown-item:active {
  background-color: hsl(30, 100%, 50%);
}

.text-orange {
  color: hsl(30, 100%, 50%);
}

.link {
  text-decoration: underline;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

.link:hover,
.link:focus {
  color: hsl(30, 100%, 50%);
}

.link:active {
  color: hsl(30, 100%, 60%);
}

.fw-medium {
  font-weight: 500;
}

.card-img {
  filter: brightness(50%);
}

.btn {
  border-radius: 0%;
  transition: all 0.2s ease-in-out;
}

.btn-outline-primary {
  color: hsl(30, 100%, 50%);
  border-color: hsl(30, 100%, 50%);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: hsl(30, 100%, 50%);
  border-color: hsl(30, 100%, 50%);
  color: hsl(0, 0%, 9%);
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem hsla(30, 100%, 50%, 0.5) !important;
}

.btn-outline-primary:active,
.btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0.2rem hsla(30, 100%, 50%, 0.5) !important;
}

.btn-outline-primary.tag {
  padding: 0.02rem 0.2rem;
}

::selection {
  background-color: hsl(30, 100%, 50%);
  color: hsl(0, 0%, 9%);
}

.heading h1 {
  display: block !important;
  writing-mode: vertical-lr;
  text-orientation: upright;
  border-right: 1px solid hsl(0, 0%, 25%) !important;
  margin: 0;
}

.content p,
.content li {
  font-size: 18px;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  border-left: 2px solid hsl(0, 0%, 25%);
  padding-left: 0.3em;
}

.content blockquote {
  font-style: italic;
  border-left: 2px solid hsl(0, 0%, 25%);
  padding-left: 0.8em;
}

.content img {
  max-width: 100%;
  height: auto;
}

.content a {
  text-decoration: underline;
  color: inherit;
  transition: all 0.2s ease-in-out;
  word-break: break-all !important;
}

.content a:hover,
.content a:focus {
  color: hsl(30, 100%, 50%);
}

.content a:active {
  color: hsl(30, 100%, 60%);
}

.content table {
  width: 100%;
  font-size: 18px;
  word-break: break-all;
  margin: 1em 0 1em 0;
}

.content table td,
.content table th {
  border: 1px solid white;
  padding: .7em 2em .7em 2em;
}

.card-img-overlay .card-text {
  font-size: 14px;
  line-height: 18px;
}

.card-img-overlay .card-title {
  line-height: 24px;
  word-break: break-all !important;
}

.author-name {
  word-break: break-all !important;
}

.card-img-bg {
  transition: all 0.08s ease-in-out;
}

.card-img-bg:hover h4,
.card-img-bg:focus h4,
.card-img-bg:hover .btn,
.card-img-bg:focus .btn {
  text-decoration: underline;
}

.card-display:hover h2,
.card-display:focus h2,
.card-display:hover .btn,
.card-display:focus .btn {
  text-decoration: underline;
}

.header-image {
  filter: brightness(0.5);
}

.header {
  background-image: url('@/assets/images/header-7.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 94vh;
  border-bottom: 1px solid hsl(0, 0%, 25%) !important
}

.form-control {
  border-radius: 0;
  background-color: hsl(0, 0%, 9%) !important;
  color: hsl(0, 0%, 90%) !important;
}

.form-control:focus {
  border-color: hsl(30, 100%, 50%);
  box-shadow: 0 0 0 0.2rem hsla(30, 100%, 50%, 0.5) !important;
}

.input-group-text {
  border-radius: 0;
  background-color: hsl(0, 0%, 9%);
  color: hsl(0, 0%, 90%)
}

.card-img {
  height: 100%;
  object-fit: cover !important;
}

.page-link {
  background-color: hsl(0, 0%, 9%) !important;
  color: hsl(0, 0%, 90%);
  border-color: hsl(0, 0%, 25%);
  box-shadow: hsla(0, 0%, 100%, 0.5) !important;
  border-radius: 0 !important;
}

.page-link:hover,
.page-link:focus {
  color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 100%);
  box-shadow: none;
}

.page-link:active,
.page-lin:active:focus {
  box-shadow: 0 0 0 0.2rem hsla(0, 0%, 100%, 0.5) !important;
  color: hsl(0, 0%, 100%);
}

.dropdown-header {
  border-bottom: 1px solid hsl(0, 0%, 25%);
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}