<template>
  <div>
    <div class="header d-flex flex-row align-items-center">
      <div class="container my-0">
        <h1 class="display-1 fw-bold mb-0 index-title">Hellenic Defence Net</h1>
        <p class="lead fw-medium text-orange">
          Αμυντικά Νέα, Εθνικά Θέματα, Αναλύσεις, Απόψεις
        </p>
      </div>
    </div>
    <div class="container mt-5">
      <h2 class="my-4 display-6" style="padding-left: 0.5em; font-weight: 600">
        Πρόσφατα
      </h2>
      <DisplayCard
        v-for="post in posts"
        :key="post.id"
        :title="post.title"
        :description="post.description"
        :image="post.cover_image"
        :slug="post.id"
      />
      <NuxtLink to="/articles" class="btn btn-outline-primary w-100"
        >ΑΝΑ ΚΑΤΗΓΟΡΙΑ &raquo;</NuxtLink
      >
      <Telegram margin="true" hr="true" />
    </div>
  </div>
</template>
  

<script setup>
const random = Math.floor(Math.random() * 5) + 1;
const rand = ref(random.toString());

const { getItems } = useDirectusItems();

const posts = await getItems({
  collection: "Articles",
  params: {
    filter: {
      visible: {
        _eq: true,
      },
    },
    sort: "-created_at",
    limit: 8,
  },
});
</script>